
//- manera de ver variables desde el routing en las vistas 

//- p =viajes 
//- p#{viajes}
extends ./layout/index

block contenido
    h1(class="text-center") #{pagina}
        main.container.mt-5
            .row 
                .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
                .col-md-7 
                     blockquote Lorem ipsum dolor.

                     p vehicula suscipit orci, in pharetra ex volutpat in. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lectus eros, eu semper augue facilisis et. Nullam in arcu et sapien posuere feugiat. Vestibulum laoreet arcu enim. Vivamus nec placerat sem.

                     p luctus, ex in fermentum auctor, tellus magna consectetur augue, dignissim hendrerit enim sapien quis purus. Aliquam erat volutpat. Morbi maximus tortor at maximus ultrices. Sed id erat lacus. Quisque nec erat nunc. Etiam massa orci, semper nec enim in, aliquet maximus metus. Fusce efficitur, ex id ultrices egestas, purus quam tempus nulla, lacinia auctor libero sapien vel ipsum. Suspendisse id porta ex.
        .listado-iconos
            .conteiner.mt-5.py-5.text-center 
                .row    
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid")
                        h2.mb-4 Seguridad 
                        p Cras posuere, neque a semper convallis, enim arcu molestie lacus, sit amet condimentum est nisl eu nisl. Fusce ultricies, nisl ut scelerisque facilisis, metus nulla dictum tortor, eu ornare mi metus eget leo. Cras ut tristique enim, ut dictum ex. Suspendisse pellentesque ligula eu enim interdum, non ultricies odio maximus. Aliquam a enim lacinia, egestas nulla eget, tincidunt libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris porttitor sed elit sodales fringilla. Nullam consectetur, eros eget vulputate congue, lectus lorem rhoncus nulla, eget tempor arcu nulla vitae tellus.
                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid")
                        h2.mb-4 Mejores destinos! 
                        p Cras posuere, neque a semper convallis, enim arcu molestie lacus, sit amet condimentum est nisl eu nisl. Fusce ultricies, nisl ut scelerisque facilisis, metus nulla dictum tortor, eu ornare mi metus eget leo. Cras ut tristique enim, ut dictum ex. Suspendisse pellentesque ligula eu enim interdum, non ultricies odio maximus. Aliquam a enim lacinia, egestas nulla eget, tincidunt libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris porttitor sed elit sodales fringilla. Nullam consectetur, eros eget vulputate congue, lectus lorem rhoncus nulla, eget tempor arcu nulla vitae tellus.
                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid")
                        h2.mb-4 Los mejores precios!! 
                        p Cras posuere, neque a semper convallis, enim arcu molestie lacus, sit amet condimentum est nisl eu nisl. Fusce ultricies, nisl ut scelerisque facilisis, metus nulla dictum tortor, eu ornare mi metus eget leo. Cras ut tristique enim, ut dictum ex. Suspendisse pellentesque ligula eu enim interdum, non ultricies odio maximus. Aliquam a enim lacinia, egestas nulla eget, tincidunt libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris porttitor sed elit sodales fringilla. Nullam consectetur, eros eget vulputate congue, lectus lorem rhoncus nulla, eget tempor arcu nulla vitae tellus.
                        