footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-conten-md-start
                a.nav-link(href="/nosotros") Nosotros  
                a.nav-link(href="/viajes") viajes 
                a.nav-link(href="/testimoniales") Testimonios 
                        
        .col
            p.copyright.text-center.text-md-rigth 
                | Todos los derechos reservados 
                span=actualYear